.sort {
    &__wrapper {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    &__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
    }
    &__item {
        line-height: 17px;
        color: #837F89;
    }
    &__item:first-child {
        padding-right: 16px;
    }
    &__item:last-child {
        padding-right: 0;  
    }
    &__link {
        text-decoration: none;
        font-family: $font-semibold;
        font-weight: 600;
        letter-spacing: 1px;
        color: #837F89;
        padding-right: 8px;
    }
    &__link:hover {
        color: #000;
    }
    &__item:last-child::before {
        content: '|';
        display: inline-block;
        transform: scale(0.9);
        font-weight: bold;
        font-size: 16px;
        padding-right: 8px;
    }
}

@media (max-width: 545px) {
    .sort__wrapper {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
}
@media (max-width: 430px) {
    .sort__list {
        display: block;
    }
    .sort__item:first-child {
        display: block;
    }
    .sort__item {
        display: inline;
    }
    .sort__link {
        padding-right: 2px;
    }
    .sort__item:last-child::before {
        padding-right: 5px;
    }
}