$font-regular: "ProximaNovaRegular", sans-serif;
$font-semibold: "ProximaNovaSemiBold", sans-serif;
$font-extrabold: "ProximaNovaExtraBold", sans-serif;
$font-size: 14px;
$babytheme-backgroundcolor: #F94F4C;
$babytheme-border: #D44242;
$babytheme-active: #F4363C;
$tabs-fontcolor: #201F22;
$font-color: #2B292D;
$button-color: #FFC830;
$border-color: #EBECF0;
$active-color: #FFC830;
$hover-color: #EEB20B;
$title--small-color: #FFC830;